.products__wrapper {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.products__container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20;
  border: 1px solid black;
  border-radius: 10px;
}
